@font-face {
  font-family: 'pickles';
  src: url('unscii-16.ttf') format('truetype');
}

body {
  background: #000;
  color: #fff;
  font-family: 'pickles';
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 0.75;
  letter-spacing: -1px;
}

div.viewable {
  width: 402px;
  height: 720px;
  position: relative;
  overflow: hidden;
  background: url('andy.png');
  background-opacity: 0.5;
}

#controls {
  position: absolute;
  top: 720px;
}

table {
  width: 100%;
  text-align: left;
  font-size: 100%;
}

h1 {
  margin: 6px 0;
  font-size: 200%;
  font-weight: normal;
  letter-spacing: 0px;
}

input, button {
  display: block;
  margin: 1em;
}

table {
  border-collapse: collapse;
}

tr.current {
  background-color: rgba(255, 255, 255, 0.2);
}

td.time {
  text-align: right;
}

td.over {
  color: #f77;
}

td.under {
  color: #7f7;
}

td.gold {
  color: #fd0;
}

p#current {
  font-size: 400%;
  text-align: right;
  bottom: 0;
  right: 0;
  position: absolute;
  margin-bottom: -0.05em;
}

p#current span {
  padding: 0;
  margin: 0;
}

#ms {
  font-size: 50%;
}

#info {
  position: absolute;
  bottom: 3.6em;
  left: 0;
  width: 100%;
}

#camera {
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
  width: 408px;
  height: 720px;
  overflow: hidden;
  text-align: center;
}

video {
  height: 100%;
  width: auto;
  margin-left: -436px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #88f;
}

.firework {
  position: absolute;
  display: block;
  height: 4px;
  width: 4px;
}
